.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 36px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-tags {
  position: absolute;
  bottom: 8px;
  left: 16px;
  width: 80%;
  span {
    background: $green;
    font-size: .7em;
    font-weight: 100;
    padding: 2px 4px;
    border-radius: 3px;
  }
  a {
    color: white;
  }
}
